# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.coverage
*.log

# Environments
.env
.env.*
venv/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# OS/Editor
.DS_Store
.idea/
.vscode/

# Build artifacts
build/
dist/
.cache/
*.spec
node_modules/

